<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Terminal Root">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/terminalrootsh">Marcos Oliveira</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">Desenvolvedor</span> GNU/Linux, Shell Script e Web.</p>
        <a class="email" href="https://github.com/terminalrootsh">github.com/terminalrootsh</a>
    </div>
</section>
